# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Environments
.venv/
venv/

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Experiment outputs
runs/*
runs/.gitkeep

# Models and generated data
*.pt
*.pth
*.ckpt
*.npy
*.npz

# System
.DS_Store
runs
